@using System.Data

@model DataTable
@{
    Layout = null;
}



<!-- Employee Requests Modal   -->

<div class="modal fade" id="emp_request">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Approve Request</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="icon-close"></i></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                

                <table id="employee-request" class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Requested as</th>
                            <th>Company</th>                           
                            <th>Phone</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Action</th>                            
                        </tr>
                    </thead>
                    <tbody id="employee-request-tbody">
                        @foreach (DataRow item in Model.Rows)
                        {
                            int roleid = Convert.ToInt32(item["RoleID"]);
                            int id = Convert.ToInt32(item["ID"]);
                            string username = item["UserName"].ToString();
                            string lastname = item["LastName"].ToString();
                            string companyname = item["CompanyName"].ToString();
                            string phone = item["Phone"].ToString();
                            string city = item["City"].ToString();
                            string state = item["State"].ToString();

                            if (roleid == 2)
                            {
                                <tr class="w-100">
                                    <td><b>@username</b></td>
                                    <td>Employee</td>
                                    <td>@companyname</td>
                                    <td>@phone</td>
                                    <td>@city</td>
                                    <td>@state</td>
                                    <td align="right">

                                        <button id="@id" class="btn btn-cstm btn-blue accept approv_btn_accp" onclick="accept_request(this)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        <button id="@id" class="btn btn-cstm btn-white reject approv_btn_rejt" onclick="reject_request(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                      
                            }
                            else
                            {
                                <tr class="w-100">
                                    <td><b>@username</b></td>
                                    <td>Admin</td>
                                    <td>@companyname</td>
                                    <td>@phone</td>
                                    <td>@city</td>
                                    <td>@state</td>
                                    <td align="right">
                                        <button id="@id" class="btn btn-cstm btn-blue accept approv_btn_accp" onclick="accept_request(this)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        <button id="@id" class="btn btn-cstm btn-white reject approv_btn_rejt" onclick="reject_request(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                               
                            }
                        }
                        
                    </tbody>
                </table>
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-cstm btn-blue" id="reloadthis" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    //$('.refresh_').on('click', function () {
    //    GetEmployeeData();
    //    checkforRequest();

    //});
        

        function accept_request(e)
        {
            debugger
          
            var id = e.getAttribute("id");
           
            $.ajax({
                url: '@Url.Action("ApproveEmpByID", "Admin")',
                type: "GET",
                data: {
                    ID: id
                },
                success: function (response) {
                    debugger
                    
                    var JSONStatus = JSON.parse(response.jsondata);

                    $("#employee-request-tbody").html("");

                    for (i = 0 ; i < JSONStatus.EmployeeList.length ; i++) {
                        var requests = "";
                       

                        if (JSONStatus.EmployeeList[i].RoleID == 2) {
                            //requests = "<div class='w-100'><p><b>" + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a Employee</p><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></div></ br>";
                            requests = '<tr class="w-100">' +
                                '<td><b>' + JSONStatus.EmployeeList[i].UserName + '</b></td>' +
                                '<td>Employee</td>' +
                                '<td>' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                                '<td>' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                                '<td>' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                                '<td >' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                                '<td  align="right">' +
                                '<button id="' + JSONStatus.EmployeeList[i].ID + '" class="btn btn-cstm btn-blue accept approv_btn_accp" onclick="accept_request(this)"><i class="fa fa-check" aria-hidden="true"></i></button>' +
                                '<button id="' + JSONStatus.EmployeeList[i].ID + '" class="btn btn-cstm btn-white reject" onclick="reject_request(this)"><i class="fa fa-times" aria-hidden="true"></i></button>' +
                                '</td>'+
                                '</tr>';
                            //requests = "<tr class='w-100'><td><b> "+ JSONStatus.EmployeeList[i].UserName + "</b> has requested as a <b>Employee.</b></td><td align='right'><button id="+ JSONStatus.EmployeeList[i].ID +" class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></td></tr>"
                        }
                        else {
                            //requests = "<div class='w-100'><p><b>" + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a Admin</p><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></div></ br>";
                            //requests = "<tr class='w-100'><td><b> " + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a <b>Admin.</b></td><td align='right'><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></td></tr>"

                            requests = '<tr class="w-100">' +
                               '<td><b>' + JSONStatus.EmployeeList[i].UserName + '</b></td>' +
                               '<td>Admin</td>' +
                               '<td>' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                               '<td>' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                               '<td>' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                               '<td >' + JSONStatus.EmployeeList[i].UserName + '</td>' +
                               '<td  align="right">' +
                               '<button id="' + JSONStatus.EmployeeList[i].ID + '" class="btn btn-cstm btn-blue accept approv_btn_accp" onclick="accept_request(this)"><i class="fa fa-check" aria-hidden="true"></i></button>' +
                               '<button id="' + JSONStatus.EmployeeList[i].ID + '" class="btn btn-cstm btn-white reject" onclick="reject_request(this)"><i class="fa fa-times" aria-hidden="true"></i></button>' +
                               '</td>' +
                               '</tr>';
                        }



                        $("#employee-request-tbody").append(requests);
                    }
                    GetEmployeeData();
                    checkforRequest();
                },
                error: function (xhr) {
                    debugger
                }
            });
        }

        function reject_request(e) {
            debugger
            //e.getAttribute("id");
            var id = e.getAttribute("id");
            //var id = $(this).attr("id");
            $.ajax({
                url: '@Url.Action("RejectEmpByID", "Admin")',
                type: "GET",
                data: {
                    ID: id
                },
                success: function (response) {
                    debugger
                    //$("#requestmodel").html("");
                    //$("#requestmodel").html(response);
                    var JSONStatus = JSON.parse(response.jsondata);

                    $("#employee-request").html("");

                    for (i = 0 ; i < JSONStatus.EmployeeList.length ; i++) {
                        var requests = "";
                        //if (JSONStatus.EmployeeList[i].RoleID == 2) {
                        //    requests = "<div class='w-100'><p><b>" + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a Employee</p><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></div></ br>";
                        //}
                        //else {
                        //    requests = "<div class='w-100'><p><b>" + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a Admin</p><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></div></ br>";
                        //}

                        if (JSONStatus.EmployeeList[i].RoleID == 2) {
                            //requests = "<div class='w-100'><p><b>" + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a Employee</p><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></div></ br>";

                            requests = "<tr class='w-100'><td><b> " + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a <b>Employee.</b></td><td align='right'><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept approv_btn_accp' onclick='accept_request(this)'><i class='fa fa-check' aria-hidden='true'></i></button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject approv_btn_rejt' onclick='reject_request(this)'><i class='fa fa-times' aria-hidden='true'></i></button></td></tr>"
                        }
                        else {
                            //requests = "<div class='w-100'><p><b>" + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a Admin</p><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept' onclick='accept_request(this)'>Accept</button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject' onclick='reject_request(this)'>Reject</button></div></ br>";
                            requests = "<tr class='w-100'><td><b> " + JSONStatus.EmployeeList[i].UserName + "</b> has requested as a <b>Admin.</b></td><td align='right'><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-blue accept approv_btn_accp' onclick='accept_request(this)'><i class='fa fa-check' aria-hidden='true'></i></button><button id=" + JSONStatus.EmployeeList[i].ID + " class='btn btn-cstm btn-white reject approv_btn_rejt' onclick='reject_request(this)'><i class='fa fa-times' aria-hidden='true'></button></td></tr>"
                        }



                        $("#employee-request").append(requests);
                    }
                    GetEmployeeData();
                    checkforRequest();
                },
                error: function (xhr) {
                    debugger
                }
            });
        }

        //function reject_request(e)
        //{
        //    debugger
        //    $(e).closest(".w-100").remove();
        //    //alert("chal gaya");
        //    //$(".reject").closest(".w-100").remove();
        //}

        //function rejectrequest()
        //{
        //    debugger
        //    $(this).closest(".w-100").remove();
        //}


</script>